* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  color: sienna;
}

body {
  background-color: wheat;
}

nav {
  border-bottom: 0.5px solid peru;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  display: block;
  color: sienna;
  text-decoration: none;
  padding-bottom: 10px;
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 5px solid peru;
}

nav ul li a.logo {
  padding-bottom: 0;
  padding-top: 10px;
}

nav ul li a img {
  height: 100px;
}

.promotion {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.promotion div {
  width: 400px;
}

.promotion img {
  height: 300px;
}

#menu article {
  width: 200px;
  display: grid;
  gap: 20px;
  text-align: center;
}

#menu article img {
  height: 200px;
}
